In [ ]:
# Retire o comentário da linha abaixo caso vocÊ não possua a extensão instalada na sua máquina.
#!pip install -q ipython-sql

In [1]:
import pandas as pd
import sqlite3

In [2]:
database = 'dbpima.db'

%load_ext sql
%sql sqlite:///dbpima.db

In [3]:
df = pd.read_csv('diabetes.csv')

In [4]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
# Criando a conexão com o banco de dados.
cnn = sqlite3.connect(database)

# Salvando o DataFrame df como arquivo sql.
df.to_sql('diabetes', cnn, index=False)

768

In [6]:
%%sql

SELECT * FROM diabetes LIMIT 5

 * sqlite:///dbpima.db
Done.

[(6, 148, 72, 35, 0, 33.6, 0.627, 50, 1),
 (1, 85, 66, 29, 0, 26.6, 0.351, 31, 0),
 (8, 183, 64, 0, 0, 23.3, 0.672, 32, 1),
 (1, 89, 66, 23, 94, 28.1, 0.167, 21, 0),
 (0, 137, 40, 35, 168, 43.1, 2.288, 33, 1)]

In [7]:
%%sql
SELECT 
    Age, 
    Glucose, 
    Outcome 
FROM 
    diabetes 
WHERE 
    Glucose > 190

 * sqlite:///dbpima.db
Done.

[(53, 197, 1),
 (41, 196, 1),
 (41, 194, 1),
 (57, 196, 1),
 (31, 197, 0),
 (24, 193, 0),
 (34, 191, 0),
 (59, 194, 1),
 (29, 196, 1),
 (25, 193, 1),
 (39, 197, 1),
 (67, 194, 0),
 (55, 195, 1),
 (28, 198, 1),
 (62, 197, 1),
 (22, 199, 1),
 (31, 195, 1)]

In [8]:
df_result = cnn.execute("SELECT Age, Glucose, Outcome FROM diabetes WHERE Glucose > 190")

In [9]:
df_result.description

(('Age', None, None, None, None, None, None),
 ('Glucose', None, None, None, None, None, None),
 ('Outcome', None, None, None, None, None, None))

In [10]:
columns = [col[0] for col in df_result.description]
columns

['Age', 'Glucose', 'Outcome']

In [11]:
resultado = pd.DataFrame.from_records(data = df_result.fetchall(), columns = columns)
resultado

    Age  Glucose  Outcome
0    53      197        1
1    41      196        1
2    41      194        1
3    57      196        1
4    31      197        0
5    24      193        0
6    34      191        0
7    59      194        1
8    29      196        1
9    25      193        1
10   39      197        1
11   67      194        0
12   55      195        1
13   28      198        1
14   62      197        1
15   22      199        1
16   31      195        1